.about {
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.cv {
  display: block;
  width: 165px;
  margin-bottom: 20px;
  text-decoration: underline wavy;
  font-size: 1.7rem;
  color: #f1b902;
}

.cv:hover {
  color: #f1b902;
}

.about-me {
  color: #fff;
  font-size: 1.7rem;
}

.about-me_span {
  color: #f1b902;
  text-decoration: underline;
  cursor: pointer;
}

.about-me_span:hover {
  color: #f1b902;
}

@media only screen and (max-width: 576px) {
  .cv {
    font-size: 1.2rem;
  }

  .about-me {
    font-size: 1.2rem;
  }
}
