.contact {
  padding: 40px 0;
  width: 70%;
  margin: 0 auto;
}

.contact-card {
  background: none !important;
  border-radius: 0 !important;
  cursor: pointer;
  width: 100%;
  margin-bottom: 5px;
  border: solid 1px rgba(0, 0, 0, 0.26) !important;
}

.contact-row {
  margin-top: 40px !important;
}

.contact-card p {
  font-size: 1.2rem;
}

.social-icon {
  font-size: 2rem;
  margin-top: -5px;
  color: #fff;
}

.social-icon:hover {
  color: rgba(0, 0, 0, 0.579);
}

.social-container {
  height: 50px;
  width: 50px;
  background: rgba(225, 61, 46, 0.182);
  display: grid;
  align-items: center;
  justify-content: center;
  transform: scale(0.9);
  transition: 1s;
  rotate: 15deg;
}

.social-container:hover {
  rotate: none !important;
  transform: scale(0.8);
}

.info-card {
  font-size: 1rem;
}

.info-card span {
  font-weight: 600;
  margin-top: -10px !important;
}

.cv {
  text-decoration: none !important;
  border: solid 1px rgba(0, 0, 0, 0.26) !important;
  display: block;
  width: 110px;
  text-align: center;
  margin-top: 20px !important;
  color: #000;
  transition: 1s;
  border-radius: 5px;
}

.cv:hover {
  background: rgba(0, 0, 0, 0.34);
  color: #000;
}

@media only screen and (max-width: 576px) {
  .contact {
    width: 90%;
  }

  .contact-card {
    margin-bottom: 10px; 
  }

  .contact-card p {
    font-size: 1.1rem;
  }

  .social-icon {
    font-size: 1.5rem;
    margin-top: -10px;
  }

  .social-container {
    height: 40px;
    width: 40px;
    rotate: none !important;
  }

  .contact-row {
    margin-top: 20px !important;
  }

  .cv-info {
    margin-bottom: 20px;
  }
}
