footer {
  color: #fff;
  font-size: 1.2rem !important;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 30vh;
  width: 100%;
}

footer a {
  color: #f1b902;
}

footer a:hover {
  color: #f1b902;
}

@media only screen and (max-width: 576px) {
  footer {
    font-size: 1.2rem; 
    margin-top: 30px;
  }
}
