.header {
  min-height: 10vh;
  color: #fff;
  position: relative;
  display: grid;
  align-items: center;
  justify-content: center;
}

.header a {
  font-size: 0.9rem;
  font-weight: 600;
  letter-spacing: 1.5px;
  text-decoration: none;
  color: #000;
}

.header a:hover {
  color: #000;
  text-decoration: underline;
}

.mobile-nav {
  min-height: 100vh;
  width: 50%;
  background: rgba(0, 0, 0, 0.901);
  color: #fff;
  padding: 20px;
  position: fixed;
  top: 0;
  left: -15px;
  z-index: 999;
  display: none;
}

.mobile-nav a {
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
}

.mobile-nav a:hover {
  color: #fff;
}

.nav-section {
  padding: 20px 15px;
  border-bottom: rgba(255, 255, 255, 0.264) solid 1px !important;
  align-items: center;
}

.nav-section span {
  margin-top: -5px !important;
  font-size: 1.2rem;
}

.nav-section:hover {
  background: rgba(255, 255, 255, 0.471);
}

.close {
  font-size: 1.5rem;
  padding-left: 16px;
  cursor: pointer;
}

.open {
  display: none;
}

.show {
  display: block;
}

@media only screen and (max-width: 576px) {
  .header {
    min-height: 5vh;
    justify-content: end !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.082);
  }

  .main-nav {
    display: flex;
  }

  .open {
    display: block;
    cursor: pointer !important;
  }

  .mobile-nav {
    width: 70%;
  }
}
