.hero {
  min-height: 100vh;
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: 4s !important;
}

.hero h1 {
  font-size: 6rem;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(to right, #fff, #f1b902);
  font-family: "Josefin Sans", sans-serif !important;
}

.hero p {
  font-size: 1.3rem;
  color: #fff;
  letter-spacing: 1.5px;
}

.profile {
  width: 300px;
  height: 300px;
  filter: grayscale(100%);
  border-radius: 50%;
  transition: 1s;
  margin-top: 50px;
}

.profile:hover {
  filter: grayscale(0);
}

@media only screen and (max-width: 576px) {
  .hero h1 {
    font-size: 3rem; 
  }

  .hero p {
    font-size: 0.8rem;
    color: #fff;
    letter-spacing: 1.5px;
  }

  .profile {
    width: 150px;
    height: 150px; 
  } 
}
