.recent {
  display: grid;
  place-items: center;
  min-height: 30vh;
}

.my_work {
  display: block;
  text-align: center;
  font-size: 3rem;
  color: #f1b902;
  text-decoration: underline wavy;
}

.my_work:hover {
  color: #f1b902;
}

@media only screen and (max-width: 576px) {
  .recent { 
    min-height: 15vh;
  }

  .my_work { 
    font-size: 1.1rem; 
  } 
}
