.skills {
  display: grid;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
}

.skill-card {
  background: rgba(236, 237, 254, 0.05) !important;
  cursor: pointer;
  transition: 1s ease-in-out;
  padding: 45px;
  gap: 8px;
  width: 100%;
  border-radius: 25px;
}

.skills_tools {
  color: #fff;
  text-align: start;
  font-size: 1.7rem;
}

.tools_span {
  color: #f1b902;
  text-decoration: underline;
  cursor: pointer;
}

@media only screen and (max-width: 576px) {
  .skill-card {
    padding: 15px;
  }

  .skills_tools {
    font-size: 1.2rem;
  }
}
